body {background-color: blanchedalmond;}
p {
    font-size: 10pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

button {
    text-align: center;
    margin-left: 0.3em;
    padding: 0.5em;
    border-color: black;
    border-width: thin;
}

.title {
    font-size: 30pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title2{
    font-size: 15pt;
    color: black;
}

input {
    width: fit-content;
    height: fit-content;
    padding-right: 1em;
    margin-left: 0.1em;
}

.but {
    text-align: center;
    margin-left: 0em;
    padding: 0.4em;
    border-color: black;
    border-width: thin;
    margin-right: 0.3em;
    color: rgb(193, 70, 70);
}


.marg_top   {
    margin-top: 10px;
}
.sect {
    margin:0 auto;
    margin-top: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

nav a:hover {
    color: rgb(212, 104, 84);
    text-decoration: none;
}

text {
    position: relative;
    animation-name: move;
    animation-duration: 2s;
}

@keyframes move{
    0% {opacity: 0; left: 700px;}
    100% {opacity: 1; left: 0px;}
}

img {
    padding: 5px;           
}

*{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
}

.column{
    flex: 25%;
    max-width: 25%;
    border: 1px solid black;
    padding: 0px;

}
.column img{
    vertical-align: middle;
    width: 100%;
}

/*img:hover{
    transform: translate(170px, 170px) rotate(360deg) scale(3.43,3.43);
}*/

nav {
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.flexible-container{
    flex-wrap:wrap;
    justify-content: flex-start ;
    flex-direction: row;
}



.outline{
    column-count:2;
    column-rule: 1px solid black;
    column-gap: 20px;
    margin-top: 5px;
}

h3{
    margin: 0%;
}

@media (min-width: 481px) and (max-width: 800px) {
    .flexible-container {   
        flex-direction: column;
        align-items: center;
    }
    .column{
        flex: 50%;
        max-width: 50%;
    }
    .outline{
        column-count: 1;
    }

}

@media (max-width:480px) {
    .flexible-container {   
        flex-direction: column;
        align-items: center;
    }
    .column{
        flex: 100%;
        max-width: 100%;
    }
    .outline{
        column-count: 1;
    }
}
